@import '/src/main.scss';

.required-field {
  display: flex;
  position: relative;

  &::after {
    content: '*';
    color: red;
    margin-left: 4px;
    font-size: calc($index * 0.5);
    vertical-align: middle;
  }
}

.header-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100vw;
}

.header-parameters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 1px;
  border: solid $accent;
  border-width: 0 0 1px 0;
  height: 4vh;
}

.breadcrumbs-plug {
  margin-right: auto;
  margin-left: calc($index);
}

.breadcrumbs-item {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: row;

  img {
    width: calc($index * 0.6);
    height: calc($index * 0.6);
    margin-left: 15px;
  }
}

.breadcrumbs-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: $borderColor;
  height: 100%;
  align-items: center;

  font-family: $userfont;
  font-size: calc($index * 0.65);
}

.header-button-container {
  margin-left: auto;
  height: 100%;
  align-items: center;
  text-align: center;
  margin-right: calc($index * 2);
  display: flex;
}

.notifications-button {
  border: none;
  text-align: center;
  align-items: center;
  background-color: rgba(251,65,255,0);
  margin-right: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease-in-out;
  border-radius: 15px;
  height: 85%;

  &:hover {
    background-color: rgba(251,65,255,0);
    outline: none;
    cursor: pointer;
  }

  img {
    display: block;
    width: calc($index * 0.9);
  }
}

.profile-button {
  border: none;
  text-align: center;
  align-items: center;
  background-color: rgba(251,65,255,0);
  margin-right: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 15px;
  height: 85%;

  &:hover {
    background-color: rgba(251,65,255,0);
    outline: none;
    cursor: pointer;
  }

  img {
    display: block;
    width: calc($index * 0.9);
  }
}

.dropdown_notifications {
  display: flex;
  position: absolute;
  margin-top: calc($index * 1.5);
  width: 96%;
}

.empty-notifications {
  border: 1px solid $accent;
  background-color: $textcolor;
  font-family: $userfont;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-left: auto;
  height: 30vh;
  border-radius: 10px;
}

.empty-notifications_scrool {
  max-height: 95%;
  width: 98%;
  height: 95%;
  justify-content: center;
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    background-color: rgba(245, 245, 245, 0);
  }

  &::-webkit-scrollbar {
    width: calc($index * 0.6);
    background-color: rgba(245, 245, 245, 0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent;
    border-radius: 15px;
    background-clip: content-box;
    border: 7px solid transparent;
  }
}

.notifications_dropdown_container {
  text-align: center;
  border: solid $accent;
  border-width: 0 0 1px 0;
  margin-bottom: calc($index * 0.2);
  width: 99%;
}

.notifications__text {
  text-align: left;
  font-size: calc($index * 0.47);
}

.notifications__date {
  font-size: calc($index * 0.5);
  opacity: .8;
}
