@import '/src/main.scss';

.message-list__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: $userfont;
}

.message-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-list_time {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: calc($index * 0.55);
    opacity: .8;
    color: $borderColor;
  }
}

.message-list__description {
  background-color: $buttonColor;
  border-radius: 15px;
  display: flex;
  p {
    margin: calc($index * 0.5);
    font-size: calc($index * 0.7);
  }

  img {
    width: calc($index * 0.8);
    height: calc($index * 0.8);
    margin: calc($index * 0.5) calc($index * 0.2) calc($index * 0.5) calc($index * 0);
    cursor: pointer;
  }
}

.message-list_sender {
  p {
    margin: 5px 0;
    font-size: calc($index * 0.55);
  }
}

.empty-message {
  width: 100%;
  text-align: center;
}
