@import '/src/main.scss';

//@-- ACTIVE --@//

//HEADER

.sidebar-active {
  background-color: $accent;
  width: calc($index * 14);
  height: 100vh;
  transition: all 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  flex-direction: column;
  display: flex;
  position: absolute;
  flex-shrink: 0;
  font-family: $userfont;
  color: $textcolor;
}

.sidebar-header {
  width: 100%;
  top: 0;
  text-align: center;

  h3 {
    margin: calc($index / 3) 0;
  }
}

//BODY

.sidebar-body {
  display: flex;
  transition: width 0.3s ease, opacity 0.3s ease; // Убедитесь, что изменяется только ширина
  height: 500px;
  position: fixed;
  width: 100%;
  margin-top: $index;
  font-family: $userfont;
}

.sidebar-wrapper {
  list-style: none;
  padding: 0 15px;
  margin-top: $index;
  width: 95%;
  transition: none;
  font-family: $userfont;
}

.sidebar__item {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  margin-bottom: 15px;

  &:hover {
    border-radius: 15px;
  }

  a {
    text-decoration: none;
  }

  img {
    width: 35px;
    height: 35px;
  }

  p {
    text-decoration: none;
    color: $textcolor;
    font-size: 18px;
    font-family: $userfont;
  }
}
//FOOTER

.sidebar-footer {
  margin-top: auto;
  display: flex;
  justify-content: center; // Центрирует содержимое по горизонтали
  width: 100%;
}

.sidebar-wrapper-footer {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center; // Центрирует кнопки по горизонтали
  width: 100%;
}

.sidebar-button_setting {
  display: flex;
  justify-content: space-between; // Распределяет пространство между элементами
  align-items: center; // Центрирует элементы по вертикали
  width: 95%;
  height: 45px;
  background-color: rgba(#142E14, .5);
  border: none;
  border-radius: $borderRadius;
  margin-bottom: 15px;
}

.sidebar-button-container_setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  color: $textcolor;
  font-size: 16px;
  padding-left: 10px;
  letter-spacing: 0.5px;
  opacity: .8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  img {
    margin-left: auto;
    width: 30px;
    height: 30px;
    padding-right: 10px;
  }

  p {
    margin-right: auto;
  }
}

.sidebar-button_new_task {
  display: flex;
  justify-content: space-between; // Распределяет пространство между элементами
  align-items: center; // Центрирует элементы по вертикали
  width: 95%;
  height: 45px;
  background-color: rgba(#142E14, .99);
  border: none;
  border-radius: $borderRadius;
  margin-bottom: 15px;
}

.sidebar-button-container_new_task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: $textcolor;
  font-size: 16px;
  padding-left: 10px;
  letter-spacing: 0.5px;
  opacity: .8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  img {
    margin-left: auto;
    padding-right: 10px;
    width: 30px;
    height: 30px;
  }

  p {
    margin-right: auto;
  }
}

.sidebar-button_out {
  display: flex;
  justify-content: space-between; // Распределяет пространство между элементами
  align-items: center; // Центрирует элементы по вертикали
  width: 95%;
  height: 45px;
  background-color: rgba(#142E14, .0);
  border: none;
  border-radius: $borderRadius;
}

.sidebar-button-container_out {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: $textcolor;
  font-size: 16px;
  padding-left: 10px;
  letter-spacing: 1px;
  opacity: .8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  img {
    margin-left: auto;
    padding-right: 10px;
    width: 30px;
    height: 30px;
  }

  p {
    margin-right: auto;
  }
}

//@-- NO ACTIVE --@//

.sidebar-noActive {
  display: flex;
  flex-direction: column;
  background-color: $accent;
  width: calc($index * 2.2);
  transition: width 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  height: 100vh;
  top: 0;
  position: absolute;
  font-family: $userfont;
  flex-shrink: 0;
  left: 0;
  color: $textcolor;
}

.sidebar-header-noActive {
  width: 100%;
  top: 0;
  text-align: center;

  h3 {
    margin: calc($index / 3) 0;
  }
}

.sidebar-body-noActive {
  display: flex;
  overflow: hidden;
  -webkit-transition: all .05s linear;
  transition: all .05s linear;
  width: 100%;
  margin-top: $index;
}

.sidebar-wrapper-noActive {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  align-items: center;
  text-align: center;
  margin: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar__item-noActive {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar__link-noActive {
  opacity: 0;
  display: none;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

//FOOTER

.sidebar-footer-noActive {
  margin-top: auto;
  display: flex;
  justify-content: center; // Центрирует содержимое по горизонтали
  width: 100%; // Занимает всю ширину родительского контейнера
}

.sidebar-wrapper-footer-noActive {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center; // Центрирует кнопки по горизонтали
  width: 100%; // Занимает всю ширину футера
}

.sidebar-button_setting-noActive {
  display: flex;
  align-items: center; // Центрирует элементы по вертикали
  width: 85%;
  height: 45px;
  background-color: rgba(#142E14, .5);
  border: none;
  border-radius: $borderRadius;
  margin-bottom: 15px;
}

.sidebar-button-container_setting-noActive {
  display: flex;
  align-items: center;
  width: 100%;
  opacity: .8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  img {
    margin: auto;
    width: 30px;
    height: 30px;
  }
}

.sidebar-button_new_task-noActive {
  display: flex;
  align-items: center; // Центрирует элементы по вертикали
  width: 85%;
  height: 45px;
  background-color: rgba(#142E14, .99);
  border: none;
  border-radius: $borderRadius;
  margin-bottom: 15px;
}

.sidebar-button-container_new_task-noActive {
  display: flex;
  align-items: center;
  width: 100%;
  opacity: .8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  img {
    margin: auto;
    width: 30px;
    height: 30px;
  }
}

.sidebar-button_out-noActive {
  display: flex;
  align-items: center; // Центрирует элементы по вертикали
  width: 85%;
  height: 45px;
  background-color: rgba(#142E14, .0);
  border: none;
  border-radius: $borderRadius;
}

.sidebar-button-container_out-noActive {
  display: flex;
  align-items: center;
  width: 100%;
  opacity: .8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  img {
    margin: auto;
    width: 30px;
    height: 30px;
  }
}
