$accent: #415D43; // Accent Color
$fontsize: 20px; // Body Font Size
$headercolor: #f4efec; // Text Color
$textcolor: #FAFBFC; // Text Color
$borderColor: #1F2B17;
$buttonColor: #E1E1E1;
$countTime: #bdbdbd;

$lineheight: 1.65; // Document Line Height
$userfont: 'Segoe UI', sans-serif; // User Font Family
$userfont-two: 'CustomFont-two', sans-serif; // User Font Family
$index: calc(1vw + 1vh);
$borderRadius: 15px;
