$accent: #415D43;
$fontsize: 20px;
$headercolor: #f4efec;
$textcolor: #FAFBFC;
$borderColor: #1F2B17;
$buttonColor: #E1E1E1;
$countTime: #bdbdbd;

$lineheight: 1.65; // Document Line Height
$userfont: 'Segoe UI', sans-serif; // User Font Family
$userfont-two: 'CustomFont-two', sans-serif; // User Font Family
$index: calc(1vw + 1vh);
$borderRadius: 15px;
