@import '/src/main.scss';

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-family: $userfont;
}

th, tr {
  text-align: left;
  vertical-align: middle;
  padding: 10px;
  border: solid $accent;
  border-width: 1px 1px 1px 0;
}

th .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 350;
  height: calc($index * 0.5);
  font-size: calc($index * 0.7);
}
